<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>DirectAccessBlockFilter</filter-name>
        <filter-class>root.DirectAccessBlockFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DirectAccessBlockFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <servlet-class>root.controller.ErrorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>root.controller.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>root.controller.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>root.controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>root.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoxChatController</servlet-name>
        <servlet-class>root.controller.BoxChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamPage</servlet-name>
        <servlet-class>root.controller.ExamPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExamResultDetail</servlet-name>
        <servlet-class>root.controller.ViewExamResultDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleChatDashBoard</servlet-name>
        <servlet-class>root.controller.SaleChatDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuySubjectPage</servlet-name>
        <servlet-class>root.controller.BuySubjectPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyAccept</servlet-name>
        <servlet-class>root.controller.BuyAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lessons</servlet-name>
        <servlet-class>root.controller.Lessons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Votes</servlet-name>
        <servlet-class>root.controller.Votes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>root.controller.Comments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPass</servlet-name>
        <servlet-class>root.controller.ForgetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>root.controller.DashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>root.controller.AddSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>root.controller.SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubject</servlet-name>
        <servlet-class>root.controller.UpdateSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionByExcel</servlet-name>
        <servlet-class>root.controller.AddQuestionByExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadForm</servlet-name>
        <servlet-class>root.controller.DownloadForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLesson</servlet-name>
        <servlet-class>root.controller.EditLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLesson</servlet-name>
        <servlet-class>root.controller.AddLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question</servlet-name>
        <servlet-class>root.controller.QuestionManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountController</servlet-name>
        <servlet-class>root.controller.AdminAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleAccountController</servlet-name>
        <servlet-class>root.controller.SaleAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestTeacherController</servlet-name>
        <servlet-class>root.controller.RequestTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestFromTeacherController</servlet-name>
        <servlet-class>root.controller.RequestFromTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuiz</servlet-name>
        <servlet-class>root.controller.AddQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubject</servlet-name>
        <servlet-class>root.controller.DeleteSubject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoxChatController</servlet-name>
        <url-pattern>/BoxChatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamPage</servlet-name>
        <url-pattern>/ExamPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExamResultDetail</servlet-name>
        <url-pattern>/ViewExamResultDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleChatDashBoard</servlet-name>
        <url-pattern>/SaleChatDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuySubjectPage</servlet-name>
        <url-pattern>/BuySubjectPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyAccept</servlet-name>
        <url-pattern>/BuyAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lessons</servlet-name>
        <url-pattern>/Lessons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Votes</servlet-name>
        <url-pattern>/Votes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/Comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPass</servlet-name>
        <url-pattern>/ForgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/DashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/AddSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/SubjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubject</servlet-name>
        <url-pattern>/UpdateSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionByExcel</servlet-name>
        <url-pattern>/AddQuestionByExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadForm</servlet-name>
        <url-pattern>/DownloadForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLesson</servlet-name>
        <url-pattern>/EditLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLesson</servlet-name>
        <url-pattern>/AddLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountController</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleAccountController</servlet-name>
        <url-pattern>/sale/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestTeacherController</servlet-name>
        <url-pattern>/request-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestFromTeacherController</servlet-name>
        <url-pattern>/submitRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuiz</servlet-name>
        <url-pattern>/AddQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubject</servlet-name>
        <url-pattern>/DeleteSubject</url-pattern>
    </servlet-mapping>
</web-app>
